.header{
  background-color: rgba(6, 12, 20, 0.644);
  height: 80px;
    padding: 0 18vw;
}
.header .wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header article{
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.header article section p{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.9;
}
.header article section p:last-child{
  font-size: 10px;
  bottom: 20px;
}
.header article img{
  height: 50px;
  margin-top: 6px;
  width: 50px;
  border-radius: 10px;
}
/* navigation */
.header nav,
.header nav ul,
.header nav ul li{
  height: 100%;
}
.header nav ul{
  display: flex;
  gap: 30px;
}
.header nav ul li{
  display: flex;
  align-items: center;
}
.header nav ul a{
  display: block;
  text-align: center;
  /* background: var(--gradientBg); */
  border-radius: 50px;
  font-family: sans-serif;
  color: white;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.9;
}
