.header{
  background-color: rgba(6, 12, 20, 0.644);
  height: 90px;
  padding: 0 3vw;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 20;
}
.header .wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header article{
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.header article section p{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.9;
}
.header article section p:last-child{
  font-size: 10px;
  bottom: 20px;
}
.header article div {
  height: 60px;
  /* margin-top: 6px; */
  width: 60px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100px;
}
.header article div img{
  height: 70px;
  width: 70px;
}
@media (max-width: 969px){
  .header article section p:last-child{
    display: none;
  }
}