.footer{
    background: var(--navigationBg);
    width: 100%;
}
.footer section{
    display: flex;
    justify-content: space-between;
    padding: 30px 18vw;
    color: rgba(255, 255, 255, 0.818);
    font-family: sans-serif;
}